#################################################################################
# Copyright (c) 2022,2023 T-Systems International GmbH
# Copyright (c) 2022,2023 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License, Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
# SPDX-License-Identifier: Apache-2.0
################################################################################

ingress:
  enabled: true
  className: "nginx"
  issuer: "letsencrypt-prod"
  domain: ""
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    kubernetes.io/ingress.class: nginx
  hosts:
    - host: "sdfactory.beta.demo.catena-x.net"
      paths:
        - path: /
          pathType: Prefix
  tls:
    - tlsName: sdfactory.beta.demo.catena-x.net-tls
      hosts:
        - sdfactory.beta.demo.catena-x.net


sdfactory:
  secret:
    jwkSetUri: "<path:essential-services/data/custodian-beta#jwkSetUri>"
    clientId: "<path:essential-services/data/custodian-beta#clientId>"
    clientSecret: "<path:essential-services/data/custodian-beta#clientSecret>"
    authServerUrl: "<path:essential-services/data/custodian-beta#auth-server-url>"
    realm: "<path:essential-services/data/custodian-beta#realm>"
    resource: "<path:essential-services/data/custodian-beta#resource>"
    custodianWalletUri: "<path:essential-services/data/custodian-beta#uri>"
    clearingHouseUri: "<path:essential-services/data/custodian-beta#clearingHouse-uri>"
    clearingHouseServerUrl: "<path:essential-services/data/custodian-beta#clearingHouse-serverUrl>"
    clearingHouseRealm: "<path:essential-services/data/custodian-beta#clearingHouse-realm>"
    clearingHouseClientId: "<path:essential-services/data/custodian-beta#clearingHouse-clientId>"
    clearingHouseClientSecret: "<path:essential-services/data/custodian-beta#clearingHouse-clientSecret>"
    verifycredentialsUri: "<path:essential-services/data/custodian-beta#verifiableCredentials-schema2210Url>"
